asn1crypto==0.24.0
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptography==2.3.1
docusign-esign==1.0.3
Flask==1.0.2
Flask-SocketIO==3.0.2
gunicorn==19.9.0
httplib2==0.11.3
idna==2.7
itsdangerous==0.24
Jinja2==2.10
jwcrypto==0.5.0
MarkupSafe==1.0
names==0.3.0
py-oauth2==0.0.10
pycparser==2.19
PyJWT==1.6.4
PySocks==1.6.8
python-dateutil==2.7.3
python-engineio==2.3.1
python-socketio==2.0.0
pytz==2018.5
requests==2.19.1
six==1.11.0
twilio==6.18.0
urllib3==1.23
Werkzeug==0.14.1
