Flask==0.12.2
Flask-SocketIO==2.9.2
genomelink==0.1.4
html5lib==0.999999999
httplib2==0.10.3
idna==2.6
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
names==0.3.0
oauthlib==2.0.6
pygame==1.9.3
pyOpenSSL==17.2.0
pyparsing==2.2.0
PySocks==1.6.7
python-engineio==1.7.0
python-socketio==1.8.1
requests==2.18.4
requests-oauthlib==0.8.0
twilio==6.8.1
urllib3==1.22
webencodings==0.5.1
Werkzeug==0.12.2