@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);


.section-twilio {
    padding-bottom: 0;
}
body,
p {
  padding: 0;
  margin: 0;
}

body {
  background: #2ecc71;
}

div#remote-media {
  margin: 20px auto;
  border-radius: 10px;
}

.fixed-left {
    position: fixed;
    top:80px;
    width: 38%;
}

.media-videos {
    float: right;
}

.title {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.hello {
    text-align: center;
    margin-top:65px;
}

.room-input {
    width: 80% !important;
}

.btn {
    margin-top: 25px;
}

.btn-twilio:link,
.btn-twilio:visited {
    border: 1px solid #fff !important;
}

.btn-twilio:hover,
.btn-twilio:active {
    border: 1px solid #2ecc71 !important;
}

.btn-preview {
    margin-left: 50%;
    margin-bottom: 20px;
    transform: translateX(-50%);
}

.div-preview {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

div#controls div#preview div#local-media video {
  max-width: 100%;
  max-height: 100%;
  border: none;
}

div#controls div#room-controls {
  display: none;
}

div#controls div#room-controls a#button-leave {
  display: none;
}


.video-preview {
    background-color: #f4f4f4;
    border: none;
    height: 250px;
/*    width: 90%;*/
    margin: 0 auto;
    border-radius: 10px;
    width: 328px;
    height: 245px;
}


.video {
    width: 330px;
    height: 247px;
    border-radius: 10px;
}

.video video {
    width: 330px;
    border-radius: 10px;
}

.twilio-log {
  width: 80%;
  height: 270px;
  margin-top: 40px;
  text-align: left;
  padding: 20px;
  overflow-y: auto;
  background-color: #f4f4f4;
  border-radius: 10px;
}

.twilio-log p {
  color: #686865;
  line-height: 125%;
  margin-left: 1em;
  text-indent: -1.25em;
  width: 90%;
}
